.subscribers {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #27323A;
  flex-shrink: 2;
  min-height: 250px;
  background-image: url(img/reactlogo-large.svg);
  background-repeat: no-repeat;
  -webkit-background-size: 500px;
  background-size: 600px;
  background-position: 900px 20px;
}

.select-type {
  outline: none;
  cursor: pointer;
  padding: 0px 6px;
  height: 100%;
}

.select-type:focus {
  outline: none;
}

option {
  padding: 5px;
  outline: none;
  cursor: pointer;
}
