body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input {
  border: none;
  padding: 5px 20px 0;
  outline: none;
  margin: 0;
  line-height: 1.5;
}

button {
  cursor: pointer;
}

.publishers {
  display: flex;
  background: #E1D1C1;
}

.publisher {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 20px auto;
  justify-content: center;
  text-align: center;
}

.publisher-input {
  margin: 5px 0;
  max-width: 200px;
  padding-left: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  transition: all 1s;
  font-size: 12px;
  text-indent: 10px;
}

.publisher-input:focus {
	border-bottom: 2px solid black;
	transition: all 1s;
}

.input-user {
  margin: 0 5px;
}

.publisher-news-area {
  min-height: 120px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  text-align: left;
  padding: 5px;
  font-size: 12px;
}

.subscribers {
  padding: 40px 0;
  text-align: center;
  background-color: #3C556B;
}

.subscriber {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-width: 60px;
  min-height: 80px;
  margin: 0 20px;
}

.subscriber-name {
  margin: 2px 0;
}

.subscriber-btn {
  margin: 5px 0;
  padding: 5px;
}

.subscribers-content {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}
